# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

gnark-ed25519
gnark.pprof
verifier
/gnark_output

# Output from pprof visualization
verifier.png

# Output from aztec ignition
data/